<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
    <h1>Details</h1>
    <label>Greeting</label> - <span th:text="${greeting.content}"></span>
</body>
</html>
